<?xml version="1.0"?>
<model>
  <name>Accel</name>
  <version>1.0</version>
  <sdf version="1.8">model.sdf</sdf>
  <author>
    <name>Shuchi Saxena</name>
    <email>shuchi.professional@gmail.com</email>
  </author>
  <description>This model is taken from an open source buggy available for NXP.</description>
</model>
